# Data Frame basics

1. Creating dataframe
2. Dealing with Rows and columns
3. Min, Max Std, Describe operations
4. Conditional selection
5. Set_index

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("weatherdata.csv")

In [3]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [4]:
weatherdata={
'day':['1/1/2017','1/1/2017','1/1/2017','1/1/2017','1/1/2017','1/1/2017'],
'temperature':[32,35,28,24,32,31],
'windspeed':[6,7,2,7,4,2],
'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

import pandas as pd

In [5]:
df1=pd.DataFrame(weatherdata)

In [45]:
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/1/2017           35          7  Sunny
2  1/1/2017           28          2   Snow
3  1/1/2017           24          7   Snow
4  1/1/2017           32          4   Rain
5  1/1/2017           31          2  Sunny

In [6]:
rows,columns=df1.shape
columns

4

In [47]:
rows

6

In [48]:
df1.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/1/2017           35          7  Sunny

In [49]:
df1.tail()

        day  temperature  windspeed  event
1  1/1/2017           35          7  Sunny
2  1/1/2017           28          2   Snow
3  1/1/2017           24          7   Snow
4  1/1/2017           32          4   Rain
5  1/1/2017           31          2  Sunny

In [50]:
df1.tail(1)

        day  temperature  windspeed  event
5  1/1/2017           31          2  Sunny

In [51]:
df[2:5]

          day  temperature  windspeed event
2  01/03/2017           28          2  Snow
3  01/04/2017           24          7  Snow
4  01/05/2017           32          4  Rain

In [52]:
df[:]

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [53]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [54]:
df.day

0    01/01/2017
1    01/02/2017
2    01/03/2017
3    01/04/2017
4    01/05/2017
5    01/06/2017
Name: day, dtype: object

In [55]:
df['event'] #df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [56]:
type(df['event']) #columns in data frames are of type series

pandas.core.series.Series

In [57]:
df[['event','day']]

   event         day
0   Rain  01/01/2017
1  Sunny  01/02/2017
2   Snow  01/03/2017
3   Snow  01/04/2017
4   Rain  01/05/2017
5  Sunny  01/06/2017

In [58]:
df['temperature'].max()

35

In [59]:
df['temperature'].mean()

30.5

In [60]:
df['temperature'].min()

24

In [61]:
df['temperature'].std() #standard deviation

3.8858718455450894

In [62]:
df.describe() #printing the statistics

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [63]:
df[df.temperature>=32]

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [64]:
df[df.temperature==df.temperature.max()]

          day  temperature  windspeed  event
1  01/02/2017           35          7  Sunny

In [65]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [8]:
df['day'][df.temperature==df.temperature.max()]

1    01/02/2017
Name: day, dtype: object

In [9]:
df[df.temperature==df.temperature.max()][['day']]

          day
1  01/02/2017

In [67]:
df[['day','temperature']][df.temperature==df.temperature.max()]

          day  temperature
1  01/02/2017           35

In [68]:
df1[['day','temperature']][df1.temperature==df1.temperature.max()]

        day  temperature
1  1/1/2017           35

In [69]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           32          2  Sunny

In [70]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [71]:
df.set_index('day',inplace=True)

In [75]:
df

            temperature  windspeed  event
day
01/01/2017           32          6   Rain
01/02/2017           35          7  Sunny
01/03/2017           28          2   Snow
01/04/2017           24          7   Snow
01/05/2017           32          4   Rain
01/06/2017           32          2  Sunny

In [74]:
df.loc['01/01/2017'] #since day is the index.. we can extract the info based upon the index

temperature      32
windspeed         6
event          Rain
Name: 01/01/2017, dtype: object

In [76]:
df.reset_index(inplace=True)