# 9. Merge Dataframes

1. Merge - by using 'ON' parameter
2. How 
3. Indicator

In [1]:
import pandas as pd
df1=pd.DataFrame({
    'city':['Chicago','New York','Orlando','San Fransisco'],
    'humidity':[90,70,73,92]
})

In [6]:
df2=pd.DataFrame({
    'city':['New York','Chicago','Orlando','dxd'],
    'temperature':[30,43,37,23]
})

In [7]:
df3=pd.merge(df1,df2,on="city")
df3
#merge only pic the common field..like intersection (inner join)

       city  humidity  temperature
0   Chicago        90           43
1  New York        70           30
2   Orlando        73           37

In [8]:
df3=pd.merge(df1,df2,on="city", how="outer")
df3

            city  humidity  temperature
0        Chicago      90.0         43.0
1       New York      70.0         30.0
2        Orlando      73.0         37.0
3  San Fransisco      92.0          NaN
4            dxd       NaN         23.0

In [9]:
df3=pd.merge(df1,df2,on="city", how="left",indicator=True)
df3

#condition suffixes determines the table where that info come from... if both the tables have the same data

            city  humidity  temperature     _merge
0        Chicago        90         43.0       both
1       New York        70         30.0       both
2        Orlando        73         37.0       both
3  San Fransisco        92          NaN  left_only